{% extends "main/header.html" %}


{% load static %}

{% block content %} 
<center><img src="{% static 'main/images/download.jpg' %}" width ="100" height="100" alt ="topstory"></center>
visit our <a href ="/" style="color: forestgreen"><strong>HOMEPAGE</strong></a>

<center><div class="row">
    <div class="col s12 m12 l12">
      <div class="card" >
        <div class="card-content white-text">
          <span class="card-title" style="color: forestgreen"><i><b>Agriculture, Livestock Development and Fisheries.</b></i></span>
          <p style="color: forestgreen"> <i><b>OUR MISSION:</b></i>To improve food security and livelihoods in Uasin Gishu through commercial agriculture for sustainable development.</p>
          <br>
          <hr>
          <br>
          <p style="color: forestgreen"><i><b>OUR VISION:</b></i> prosperous County anchored on an innovative, commercially oriented and competitive agricultural sector.</p>
        </div>
        <div class="card-action">
          <a href="#" style="color: forestgreen"><b>More About Ministry of Agriculture, Livestock Development and Fisheries in Uasin Gishu</b></a>
          
        </div>
      </div>
    </div>
  </div></center>

<div class="row">
    <div class="col s4">
    <br>
    <br>
    <br>
        <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'main/images/agrii.jpg' %}">
                    <span class="card-title">Agriculture in Uasin Gishu</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
        </div> 
    </div>

    <div class="col s4">
        <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'main/images/logo.PNG' %}">
                    <span class="card-title">Mkulima Mdogo Initiative</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
        </div> 
    </div>


    <div class="col s4">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'main/images/contacts.jpg' %}">
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
        </div> 
    </div>

</div>
{% block content2 %} 
{% endblock %}



            
{% endblock %}



