<head>
    {% load static %}
    <link href ="{% static 'tinymce/css/prism.css' %}" rel ="stylesheet">
     <!-- Compiled and minified CSS -->
    <link href ="{% static 'main/css/materialize.css' %}" rel ="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .vl {
      border-left: 4px solid green;
      height: 500px;}
    </style>
</head>
<body>
            
{% include "main/includes/messages.html" %}

{% include "main/includes/navbar.html" %}


<div class ="container">
  <br>
  {% block content %}
  {% endblock %}
</div>



</body>
<script scr = "{% static 'tinymce/js/prism.js' %}"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
